@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  background-color: black;
  color: white;
}

a,
a:visited {
  color: dodgerblue;
  text-decoration: none;
}
a:hover {
  color: white;
}
.gap {
  width: 16px;
  height: 16px;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  pointer-events: none;
  object-fit: cover;
  filter: blur(8px);
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#top-left,
#top-right {
  position: fixed;
  top: 0;
  height: 48px;
  line-height: 48px;
  display: flex;
}
#top-left {
  left: 0;
}
#top-right {
  right: 0;
  padding-right: 8px;
}
#title {
  display: flex;
  font-size: 32px;
}
#logo {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 1);
  background-image: url(favicon.png);
  background-size: cover;
  box-sizing: border-box;
  margin: 8px;
  animation: rotation 4s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
#ticker {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.5);
}
